.main {
  padding-top: 5.5rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .main {
    padding-top: 5.15rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 4.95rem;
    padding-bottom: 1.25rem;
  }
}
